/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 30px !default;
// colors

// headings

/*-- scss:rules --*/

.math.inline {
  font-size: 80%  !important;
}

.MathJax, .MathJax_Display  {
    font-size: 80%  !important;
}
